<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" href="./css/bootstrap.css" rel="stylesheet">
	<script src="./js/bootstrap.bundle.js" type="text/javascript"></script>
	<title>Index Page</title>
</head>
<body style="background-color: #FFF5EE">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-gradient">
			<div class="container-fluid">
				<span class="navbar-brand me-4 h1 text-white">Demo</span>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link active text-white" href="#">HOME <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active text-white" href="#">Tests</a>
						<a class="nav-item nav-link active text-white" href="#">Contacts</a>
					</div>	
				</div>
			</div>
		</nav>
	</header>
	<main>
		<div class="container-sm">
			<div class="row" style="justify-content: center; align-items: flex-start; margin: 10px;">
				<div class="col">
					<div class="card border-light" style="width: 25rem; margin: 10px auto auto auto;">
						<img src="./img/1.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card border-light" style="width: 25rem; margin: 10px auto auto auto;">
						<img src="./img/2.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. This is the test text. </p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card border-light" style="width: 25rem; margin: 10px auto auto auto;">
						<img src="./img/3.jpg" class="card-img-top" alt="..." style="width: 100%;">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="card border-light" style="width: 25rem; margin: 10px auto auto auto;">
						<img src="./img/4.jpg" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. This is the test text. </p>
							<a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>
	<footer>

	</footer>
</body>
</html>
