{% extends "orig_temp.html" %}

{% load static %}
{% block content %}
		<div class="container-sm" id="rule">
			<div class="row mt-5">
				<div class="alert alert-success" role="alert" style="margin: 0 auto; max-width: 800px;">
					  <h4 class="alert-heading text-center mb-3">1종 2종 (보통, 대형, 특수) 면허 연습시험</h4>
					  <ul>
						  <li>1000 문제에서 랜덤으로 <span class="fw-bold">40 문제</span> 출제</li>
						  <li>제한시간: <span class="fw-bold">40분 </span></li>
					  </ul>
					  <hr>
					  <p class="mb-0 text-center fw-bold">준비 되셨으면 아래 버튼을 눌러주세요</p>
				</div>
			</div>
			<form action="{% url 'first_test' %}" method="GET">
				<div class="row mt-3" id="test-start-button">
					<div class="col text-center" style="margin: 10px auto;">
						<button class="btn btn-primary" type="submit" id="start-test">시작</button>
					</div>
				</div>
			</form>
		</div>
{% endblock %}
