{% extends "orig_temp.html" %}

{% block content %}
		<form method="GET" action="/maintest">
			<div class="container-sm" id="test-area">
				{% for key, item in questions.items %}
				<div class="row">
					<div class="col-lg-6 m-auto border border-3">
						<div class="row">
							<h5>{{ item.Question }}</h5>
						</div>
						<div class="btn-group-vertical mt-5">
							<button class="btn btn-primary mt-1" data-bs-toggle="button" value="A" name="{{ key }}">{{ item.Answers.A }}</button>
							<button class="btn btn-primary mt-1" data-bs-toggle="button" value="B" name="{{ key }}">{{ item.Answers.B }}</button>
							<button class="btn btn-primary mt-1" data-bs-toggle="button" value="C" name="{{ key }}">{{ item.Answers.C }}</button>
							<button class="btn btn-primary mt-1" data-bs-toggle="button" value="D" name="{{ key }}">{{ item.Answers.D }}</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<input type="submit" value="Submit">
		</form>
{% endblock %}
